# mengimport dataset dan memanggil dataset dengan memasukan read dataset kedalam var df

In [29]:
import pandas as pd
df = pd.read_csv('football_transfers_2021.csv')

# Tampilkan rata-rata, standar deviasi, nilai minimum, nilai maksimum, Q1, Q2, dan Q3 dari attribute bertipe angka. dengan fungsi describe()

In [21]:
df.describe()

                age
count  65489.000000
mean      25.162974
std        4.733223
min       15.000000
25%       21.000000
50%       24.000000
75%       28.000000
max       47.000000

# Tampilkan 10 record pertama dari dataset dengan attribute bertipe angka menggunakan fungsi head dan memanggil kolom age karena hanya kolom age yang beratribut angka kemudian memasukan parameter 10 pada fungsi head agar dapat menampilkan 10 record pertama pada dataset

In [22]:
df['age'].head(10)

0    20.0
1    18.0
2    20.0
3    23.0
4    27.0
5    27.0
6    26.0
7    25.0
8    25.0
9    19.0
Name: age, dtype: float64

# Tampilkan informasi jumlah record, jumlah attribute, nama attribute, jumlah attribute dengan tipe angka. Masukkan informasi tersebut dalam dictionary dengan key sesuai nama informasinya. Tampilkan isi dari dictionary tersebut{key}: {value}")

- len berfungsi untuk mengetahui panjang data
- shape untuk mengetahui jumlah atributte yang ada pada dataset
- select_dtypes berfungsi untuk menampilkan sesuai dengan tipe data yang dipilih disini yang dipilih adalah int dan float

In [28]:
jumlah_record = len(df)
jumlah_atribut = df.shape[1]
nama_atribut = list(df.columns)

atribut_angka = df.select_dtypes(include=['int', 'float'])
jumlah_atribut_angka = len(atribut_angka.columns)


informasi_dict = {
    'Jumlah Record': jumlah_record,
    'Jumlah Attribute': jumlah_atribut,
    'Nama Attribute': nama_atribut,
    'Jumlah Attribute dengan Tipe Angka': jumlah_atribut_angka
}

for key, value in informasi_dict.items():
    print(f"{key}: {value}")

Jumlah Record: 65489
Jumlah Attribute: 11
Nama Attribute: ['player_name', 'position', 'age', 'team_origin', 'country_origin', 'league_origin', 'team_dest', 'country_dest', 'league_dest', 'transfer_fee', 'date']
Jumlah Attribute dengan Tipe Angka: 1

# Tampilkan nilai dataset pada baris dimulai dengan 3 digit NIM akhir hingga data terakhir dan kolom ke 4 hingga kolom terakhir menggunakan ke 2 metode slice.

1. Menggunakan metode loc

In [50]:
df.loc[83:,['team_origin','country_origin','league_origin','team_dest','country_dest','league_dest','transfer_fee','date']]

,team_origin,country_origin,league_origin,team_dest,country_dest,league_dest,transfer_fee,date
83,FC Shevardeni,Georgia,Georgia,Sioni Bolnisi,Georgia,Georgia,free transfer,2021-01-01
84,CA Mannucci,Peru,Liga 1 Clausura,Cusco FC,Peru,Liga 1 Clausura,free transfer,2021-01-01
85,Septemvri Sofia,Bulgaria,Vtora Liga,Lok. Sofia,Bulgaria,Vtora Liga,free transfer,2021-01-01
86,Dynamo Brest,Belarus,Vysheyshaya Liga,Dinamo Minsk,Belarus,Vysheyshaya Liga,free transfer,2021-01-01
87,Wigan,England,League One,APOEL Nicosia,Cyprus,Protathlima Cyta,free transfer,2021-01-01
...,...,...,...,...,...,...,...,...
65484,San Diego State,United States,United States,Retired,NaN,NaN,-,2021-12-31
65485,1922 Konya,Turkey,2.Lig Beyaz,Without Club,NaN,NaN,-,2021-12-31
65486,Coimbra,Portugal,Liga Sabseg,Without Club,NaN,NaN,-,2021-12-31
65487,Coritiba FC B,Brazil,Brazil,Coritiba FC,Brazil,Série B,-,2021-12-31
65488,Without Club,NaN,NaN,Adriese 1906,Italy,Serie D - C,-,2021-12-31

2. Menggunakan iloc

In [35]:
df.iloc[83:,3:]

,team_origin,country_origin,league_origin,team_dest,country_dest,league_dest,transfer_fee,date
83,FC Shevardeni,Georgia,Georgia,Sioni Bolnisi,Georgia,Georgia,free transfer,2021-01-01
84,CA Mannucci,Peru,Liga 1 Clausura,Cusco FC,Peru,Liga 1 Clausura,free transfer,2021-01-01
85,Septemvri Sofia,Bulgaria,Vtora Liga,Lok. Sofia,Bulgaria,Vtora Liga,free transfer,2021-01-01
86,Dynamo Brest,Belarus,Vysheyshaya Liga,Dinamo Minsk,Belarus,Vysheyshaya Liga,free transfer,2021-01-01
87,Wigan,England,League One,APOEL Nicosia,Cyprus,Protathlima Cyta,free transfer,2021-01-01
...,...,...,...,...,...,...,...,...
65484,San Diego State,United States,United States,Retired,NaN,NaN,-,2021-12-31
65485,1922 Konya,Turkey,2.Lig Beyaz,Without Club,NaN,NaN,-,2021-12-31
65486,Coimbra,Portugal,Liga Sabseg,Without Club,NaN,NaN,-,2021-12-31
65487,Coritiba FC B,Brazil,Brazil,Coritiba FC,Brazil,Série B,-,2021-12-31
65488,Without Club,NaN,NaN,Adriese 1906,Italy,Serie D - C,-,2021-12-31

# Tampilkan jumlah nilai dari semua attribute yang bernilai object (contoh : Jenis Kelamin, Agama). menggunakan fungsi value_counts()

- player_name

In [36]:
df['player_name'].value_counts()

Paulinho              14
Vitinho               12
Dudu                  12
Ricardinho            11
Rafinha               11
                      ..
Anouar El Mhassani     1
Noble Okello           1
Stefan Ciobanu         1
Kamil Recicar          1
Daniel Rodríguez       1
Name: player_name, Length: 51872, dtype: int64

- position

In [37]:
df['position'].value_counts()

Centre-Back           10047
Centre-Forward         9952
Central Midfield       6641
Goalkeeper             6205
Defensive Midfield     4926
Right-Back             4467
Left-Back              4443
Attacking Midfield     4415
Left Winger            4222
Right Winger           4136
midfield               1534
Right Midfield         1121
Left Midfield          1109
defence                 851
attack                  758
Second Striker          657
Sweeper                   2
Name: position, dtype: int64

- team_origin

In [39]:
df['team_origin'].value_counts()

Without Club       4925
Unknown             253
River Plate          63
Atalanta BC          60
Nacional             58
                   ...
Club Águilas          1
CD Cuautla            1
KF Korabi             1
Portoviejo FC         1
San Diego State       1
Name: team_origin, Length: 7616, dtype: int64

- country_origin

In [41]:
df['country_origin'].value_counts()

Italy            7096
Spain            2771
Russia           2504
Germany          2064
Turkey           2032
                 ...
Benin               1
Neukaledonien       1
Réunion             1
Pakistan            1
East Timor          1
Name: country_origin, Length: 169, dtype: int64

- league_origin

In [42]:
df['league_origin'].value_counts()

Premier League          1254
Italy                   1131
Spain                    835
Liga 2                   811
Premier Liga             793
                        ...
LL Niederrhein-Gr. 3       1
Ireland                    1
Moçambola                  1
Neukaledonien              1
San Marino                 1
Name: league_origin, Length: 492, dtype: int64

- team_dest

In [43]:
df['team_dest'].value_counts()

Without Club      8900
Unknown            653
Retired            133
River Plate         53
Career break        47
                  ...
SV Oss '20           1
Ungheni              1
Labędy Gliwice       1
US Alençon           1
San Feliciano        1
Name: team_dest, Length: 8561, dtype: int64

- country_dest

In [44]:
df['country_dest'].value_counts()

Italy                6812
Spain                2651
Russia               2050
Turkey               1975
Germany              1842
                     ...
Guadeloupe              1
St. Kitts & Nevis       1
Vanuatu                 1
Zanzibar                1
East Timor              1
Name: country_dest, Length: 176, dtype: int64

- league_dest

In [45]:
df['league_dest'].value_counts()

Italy                   1560
Premier League           875
Liga 2                   860
League One               736
Spain                    723
                        ...
Oberliga Niederrhein       1
LL Hannover - Finals       1
Rheinlandliga              1
A-pojat SM-sarja           1
Westfalenliga 1            1
Name: league_dest, Length: 520, dtype: int64

- transfer_fee

In [46]:
df['transfer_fee'].value_counts()

free transfer    31145
-                16173
loan transfer     8480
?                 7731
€500Th.             74
                 ...
€340Th.              1
€2.55m               1
€5.36m               1
€840Th.              1
€2Th.                1
Name: transfer_fee, Length: 530, dtype: int64

- date

In [48]:
df['date'].value_counts()

2021-07-01    13305
2021-01-01     4778
2021-02-01     1860
2021-08-31     1219
2021-08-01     1081
              ...
2021-12-25        5
2021-05-22        5
2021-11-28        3
2021-11-14        3
2021-06-27        2
Name: date, Length: 365, dtype: int64